body {
    background-image: url(assets/Field_At_Dusk_\(217703719\).jpeg);
    font-family: Poppins;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -125px;

}

.middle-bubble {

    margin: 0;
    padding: 4px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    cursor: default;
    background-color: #ffffff65;
    backdrop-filter: blur(2px);
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.75) 2px 4px 6px;
    color: rgb(0, 0, 0);

}

.connections {

    padding: 4px 6px;
    border-radius: 1px;

}